:root{
  --poke-width: 340px;
  --poke-height: 90vh;
  --poke-bg-color: #F7F7F7;
  --poke-margin-top: 5px;
  --poke-border: 1px solid rgba(19,24,25,0.1);
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ECF7E9;
  height: 95vh;
  overflow: hidden;
}

header {
  width: 100vw;
  padding: 1rem;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
}
header .pokeBox {
  width: var(--poke-width);
  height: var(--poke-height);
  margin-top: var(--poke-margin-top);
  box-sizing: border-box;
}
header .content {
  width: var(--poke-width);
  height: var(--poke-height);
  padding: 0.5rem;
  background-color: var(--poke-bg-color);
  border: var(--poke-border);
  margin-top: var(--poke-margin-top);
}
header .content .pokeList {
  top: 3px;
  right: 3px;
  bottom: 1px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .content .pokeList .listaPokemon{
  top: 3px;
  bottom: 3px;
  height: 460px;
  width: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
}

header .content .pokeList .pokemons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .content .pokeList .pokemons .pokemon {
  width: 40%;
  cursor: pointer;
}

header .content .pokeList .pokemons .pokemon .pokeCode{
  display: none;
}

header .pokeBox{
  border: var(--poke-border);
}

header .poke-select {
  background-color: red;
  padding: 1rem;
  background-color: var(--poke-bg-color);
  margin-top: var(--poke-margin-top);
}
header .poke-select-two {
  padding: 1rem;
  background-color: var(--poke-bg-color);
}

footer {
  height: 3vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #9e9c9c;
  text-align: center;
}
footer p {
  margin: 3px 0 0;
  font-size: 0.8rem;
}

@media screen and (min-width: 992px) {
  .content, .poke-select, .poke-select-two {
    max-width: 992px;
    height: auto;
    margin: auto auto;
    border-radius: 1rem;
  }
}